<p>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button class="menu_item" mat-menu-item *ngFor="let menu of menus"
        [class.selected]="menu === selectedMenu"
        (click)="onSelect(menu)">
        <!-- <mat-icon>dialpad</mat-icon> -->
        <span>{{menu.item}}</span>
      </button>
    </mat-menu>

    <span class="example-spacer"></span>
    <span class="app_name">IOT Service Creator</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</p>